*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.button{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #e0e5ec;
    cursor: pointer;
    box-shadow: 8px 8px 15px #a3b1c6, -8px -8px 15px #ffffff;
    transition: all 0.3s ease;


}

.button:hover{
    background-color: #d1d9e6;
    box-shadow: inset 8px 8px 15px #a3b1c6, inset -8px -8px 15px #ffffff;
}